@import "../../variable";

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: $header-height;
  color: $text-color-grey;
  font-size: 0.14rem;
  padding: 0 0.2rem;

  .header-items-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .titles {
      width: 2.58rem;
      display: flex;
      justify-content: space-between;

      .title {
        padding: .05rem 0;
      }
      .active {
        color: $text-color-active;
        border-bottom: .02rem solid $text-color-active;
      }
    }
  }
}
