//全局变量
$theme-color: #e64c46;
$text-color-grey: #777;
$text-color-light: #999;
$bg-color: #ddd;
$item-bg-color: #fff;
$header-shadow: 0 0.01rem 0.01rem rgba(#000, .1);
$header-height: .45rem;
$footer-height: .45rem;