@import "variable";
@import "iconfont";

@mixin item {
  background-color: $item-bg-color;
}

html {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100vh;
  font-size: calc(100/375*100vw);
}

body {
  background-color: $bg-color;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.header-item {
  box-shadow: $header-shadow;
  @include item;
}

.item {
  @include item;
}

