@import "../../variable";

.footer-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: $footer-height;
  padding: 0 0.35rem;
  
  &-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $text-color-light;
    .footer-nav-icon {
      font-size: 0.22rem;
      line-height: 0.22rem;
    }
    .item-name {
      font-size: 0.1rem;
    }
  }
  .footer-nav-active {
    color: $text-color-active;
  }
}
